@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

/* --------------------------------------------------------------- Background and containers */

html {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -10;
    background-size: cover;
    overflow-x: hidden;
}

#background:before {
    content: "";
    background-image: url("../img/pokemon-forest.webp");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    background-attachment: fixed;
    z-index: -10;
}

#interactive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

/* --------------------------------------------------------------- Headers */

.hidden {
    display: none !important;
}

h1 > img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

#header {
    height: 99px;
    width: 269px;
}

h2 {
    position: relative;
    font-size: 2em;
    font-family: "Maven Pro", monospace;
    color:  #3a5aa7;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
    text-shadow: -3px -3px 0 #FFD21F;
    letter-spacing: 3px;
    font-weight: bolder;
}

/*  Buttons -------------------------------------------------------------------  Buttons */

.btn,
#dropdown {
    -webkit-user-select: none;
    align-items: center;
    background-image: linear-gradient(135deg, #FFD21F 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #3a5aa7;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    letter-spacing: 0.4px;
    line-height: 1;
    margin: 10px;
    max-width: 100%;
    padding: 10px;
    text-decoration: none;
    touch-action: manipulation;
    transition: transform 0.3s ease;
    user-select: none;
    width: 150px;
    z-index: 100;
}

.btn:hover {
    transform: scale(1.05);
}

#btn-back,
#btn-back-1,
#btn-back-2 {
    background-image: linear-gradient(135deg, #3a5aa7 40%, #0e2f7a);
    opacity: 60%;
    font-size: 1em;
    color: #FFD21F;
    position: relative;
}

#btn-back-1 {
    position: relative;
    top: 0;
    left: 10%;
}

/* game board ------------------------------------------------------------- game board */

#container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#game {
    display: grid;
    gap: 10px;
    width: fit-content;
    margin: auto;
}

/* ------------------------------------------------------------------------ Menu items and navigation */

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

#high-scores {
    width:auto;
    display: flex;
    font-family: "Maven Pro", monospace;
    justify-content: center;
    align-items: center;
}

#high-scores ol {
    font-size: 2em;
    position:relative;
    margin: 0 auto;
    left: 25%;
}

#you-win h1 {
    display: block;
    font-family: "Maven Pro", monospace;
    font-size: 6em !important;
    font-weight: bold;
    color: gold;
    position: relative;
    justify-content: center;
    align-items: center;
}

#how-to-play {
    width: 66%;
    top: 30%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

#dropdown {
    width: 75px;
}

#stats-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 10px;
}

.stats {
    font-family: "Maven Pro", monospace;
    font-size: 2em;
}

/* ------------------------------------------------------------------------ Colours */

.card[data-pokemon-type="bug"] .card-front {
    background-color: #739f40;
    border-radius: 5px;
}

.card[data-pokemon-type="dragon"] .card-front {
    background-color: #52a4cf;
    border-radius: 5px;
}

.card[data-pokemon-type="fairy"] .card-front {
    background-color: #fdb9e9;
    border-radius: 5px;
}

.card[data-pokemon-type="fire"] .card-front {
    background-color: #fd7d25;
    border-radius: 5px;
}

.card[data-pokemon-type="ghost"] .card-front {
    background-color: #fd7d25;
    border-radius: 5px;
}

.card[data-pokemon-type="ground"] .card-front {
    background-color: #ab9843;
    border-radius: 5px;
}

.card[data-pokemon-type="normal"] .card-front {
    background-color: #a3acaf;
    border-radius: 5px;
}

.card[data-pokemon-type="psychic"] .card-front {
    background-color: #f366b9;
    border-radius: 5px;
}

.card[data-pokemon-type="steel"] .card-front {
    background-color: #9eb7b9;
    border-radius: 5px;
}

.card[data-pokemon-type="dark"] .card-front {
    background-color: #707070;
    border-radius: 5px;
}

.card[data-pokemon-type="electric"] .card-front {
    background-color: #eed535;
    border-radius: 5px;
}

.card[data-pokemon-type="fighting"] .card-front {
    background-color: #d56724;
    border-radius: 5px;
}

.card[data-pokemon-type="flying"] .card-front {
    background-color: #3cc7ef;
    border-radius: 5px;
}

.card[data-pokemon-type="grass"] .card-front {
    background-color: #9bcc50;
    border-radius: 5px;
}

.card[data-pokemon-type="ice"] .card-front {
    background-color: #51c3e7;
    border-radius: 5px;
}

.card[data-pokemon-type="poison"] .card-front {
    background-color: #b97fc8;
    border-radius: 5px;
}

.card[data-pokemon-type="rock"] .card-front {
    background-color: #a38c22;
    border-radius: 5px;
}

.card[data-pokemon-type="water"] .card-front {
    background-color: #4592c3;
    border-radius: 5px;
}

#pink {
    background-color: #f366b9;
    color: white;
}

#purple {
    background-color: #b97fc8;
    color: white;
}

/* ------------------------------------------------------------------------ cards and flip animation */

.card .card-inner {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card {
    background-color: transparent;
    border: 0px;
}

.card img {
    width: 133px;
    object-fit: cover;
    margin: auto;
    z-index: 1;
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card .card-back {
    z-index: 2;
    background-color: silver;
    border-radius: 5px;
}

.card.flipped .card-back {
    z-index: 1;
}

.card.flipped .card-front {
    z-index: 2;
    transform: rotateY(180deg);
}

.card.paired .card-back {
    display: none;
}

.card.paired .card-front {
    z-index: 3;
    transform: rotateY(180deg);
}

.card.paired .card-inner {
    transform: rotateY(180deg);
}

.card-front h6 {
    position: absolute;
    bottom: -35px;
    font-size: 22px;
    font-weight: 400;
    font-family: "Maven Pro";
    letter-spacing: 2px;
    white-space: nowrap;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* ------------------------------------------------------------------------ Footer */


footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: #6c6c6c;
    font-size: 12px;
}

footer a {
    color: #4d4d4d;
}

#footer-left {
    float: left;
    margin-left: 50px;
}

#footer-right {
    float: right;
    margin-right: 50px;
}

/* ------------------------------------------------------------------------ Media Queries */

@media screen and (max-width: 992px) {
    #game {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .card .card-inner {
        width: 150px;
        height: 150px;
    }

    .card img {
        width: 100px;
    }

    .card-front h6 {
        bottom: -30px;
        font-size: 18px;
        letter-spacing: 1.5px;
    }

    .stats {
        font-size: 2em;
    }

    .celebrate {
        font-size: 4em;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {

    .card .card-inner {
        width: 100px;
        height: 100px;
    }

    .card img {
        width: 75px;
    }

    .card-front h6 {
        bottom: -25px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .stats {
        font-size: 1.5em;
    }

    .celebrate {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    #high-scores ol {
        font-size: 1.5em;
    }

    #btn-back-1 {
        left: 0%;
    }
}

@media screen and (max-width: 576px) and (orientation: portrait) {

    #you-win h1 {
        font-size: 2em !important;
    }

    .card .card-inner {
        width: 75px;
        height: 75px;
    }

    .card img {
        width: 50px;
    }

    .card-front h6 {
        bottom: -20px;
        font-size: 10px;
    }

    .stats {
        font-size: 1em;
    }

    .celebrate {
        font-size: 2em;
    }

    #high-scores ol {
        font-size: 1em;
    }
}

@media (orientation: landscape) and (hover: none) and (pointer:coarse) {
    #background::before {
        content: "Please turn your device to portrait mode to play the game.";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
    }
    h2, #main-menu, #stats-container, #game-options, #high-scores, #how-to-play, #game, #you-win{
        display: none;
    }
}