#container {
    position:relative;
    display: flex;
    justify-content: center;
}
#game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: fit-content;
    margin: auto;
}

.card {
    width: 150px;
    height: 150px;
    background-color:cadetblue;
    position: relative;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

.card img {
    width: 100px;
    object-fit: cover;
    margin: auto;
}

.card .card-front, .card .card-back {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.card-back {
    visibility: hidden;
}